body {
    
}

header {
    background-color: gold;
    padding: 1em;
    position: fixed
    top: 0;
    width: 100%;
    
}

main {
    padding: 2em;
    margin: 0 auto;
}

.main {
    margin-top: 2em;
}