@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');

:root {
    --page-spacing: 24px;
    --font-size: 36px;
    --brand-color: gold;
    --sidebar-color: grey;
    --link-color: red;
    --body-copy: 16px;
}

@media (min-width: 768px) {
    :root {
        --page-spacing: 24px;
        --font-size: 36px;
    }

    body {
        flex-direction: column;
        flex-wrap: wrap;
    }

    main {
        display: flex;
    }

    nav,aside {
        width: 25%;
    }
    
    article {
        flex-grow: 1;
    }
}

body {
    font-family: 'Work Sans', sans-serif;
    color: #232323;
    font-size: var(--body-copy);
    display: flex;
}

h1 {
    font-size: calc(var(--body-copy) * 4);
}

h2 {
    font-size: calc(var(--body-copy) * 2);
}

.lyrics {
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

p {
    max-width: 80ch;
}

p:not(:first-child) {
    margin-top: var(--page-spacing);    
}

a {
    color: var(--link-color)
}

header, nav, article, aside, footer {
    padding: var(--page-spacing);
}

header, footer {
    background-color: var(--brand-color);
}

nav, aside {
    background-color: var(--sidebar-color);
}