@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&display=swap');

body {
    color: rgba(255, 140, 0, 0.658);
    font-family: 'Noto Sans SC', sans-serif;
}
h1 {
    font-size: 72px;}

