@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600;700&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    color: rgba(138, 179, 255, 0.658);
    background-color: rgb(250, 229, 209);
}
h1 {
    font-size: 72px;
}
h2 {
    font-size: 48px;
}
details {
    font-size: 18px;
}
